body {
	font-family: 'Permanent Marker', cursive;
	background-image: url('../../assets/images/wood_background.jpg');
	}

h1 {
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

li span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	width: 100%;
	font-size: 20px;
	font-family: 'Permanent Marker', cursive;
	background-color: #feff9c;
	padding: 13px 13px 13px 20px;
	border: none;
	box-sizing: border-box;
}

input:focus{
	outline: none;
}

input::-webkit-input-placeholder {
	font-family: 'Permanent Marker', cursive;
}

.done {
	color: grey;
	text-decoration: line-through;
}


.fa-plus {
	float: right;

}

#container {
	width: 360px;
	margin: 100px auto;
	background-color: #feff9c;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}



